<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações do Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aluno</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Classes Anotadas -->
        <mapping class="br.edu.utfpr.cm.pi.modal.Cliente"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Endereco"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Estado"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Municipio"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Telefone"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Apartamento"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Fornecedor"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.GrupoDeProduto"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Hospedar"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Produto"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Reserva"/>
        <mapping class="br.edu.utfpr.cm.pi.modal.Usuario"/>
        
    </session-factory>
</hibernate-configuration>
